doctype html
html
    head
        title 始春延期委員會
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='//cdn.rawgit.com/gnehs/Tocas-UI-Xiaoan/master/css/UIKit.css', rel='stylesheet')
        link(rel='icon',href='https://avatars2.githubusercontent.com/u/35896048')
        link(href='/css/style.css', rel='stylesheet')
        include ./jade/_tocasui.jade
        include ./jade/_tags.jade
        
        script(src='/js/script.js')
        +social_tags('始春延期委員會','每天都要延期','https://avatars2.githubusercontent.com/u/35896048','https://EarlySpringCommitee.github.io/')
    body
        #welcome
            .container
                .header 始春延期委員會
                .sub.header 每天都要延期
        #footer
            p='始春延期委員會 ' + new Date().getFullYear() + ' · '
                a(href='https://github.com/EarlySpringCommitee') GitHub
