doctype html
html
    head
        title 始春延期委員會
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='icon',href='https://avatars2.githubusercontent.com/u/35896048')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css', rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
        script(src='/js/script.js')
        include ./jade/_tags.jade
        +social_tags('始春延期委員會','每天都要延期','https://avatars2.githubusercontent.com/u/35896048','https://EarlySpringCommitee.github.io/')
    body
        #welcome
            .container
                .header 始春延期委員會
                .sub.header 每天都要延期
        #footer
            p='始春延期委員會 ' + new Date().getFullYear() + ' · '
                a(href='https://github.com/EarlySpringCommitee') GitHub
